article {
    max-width: 350px;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    min-height:450px;
}

.recipe-card {
    margin: 15px;
    border-radius: 8px;
    overflow: hidden; /* Ensure the image corners are also rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding:0;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.recipe-card img {
    max-width: 100%;
    border-radius: 8px;
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 8px;
}

article h2 {
    color: #333;
    margin: 10px 0px;
}

.recipe-card h2 {
    margin: 0.5rem;
    font-size: 1.5rem; /* Larger font size for titles */
    padding: 10px 20px 0px;
  }

.recipe-card h2:hover {
  text-decoration:underline;
  }

.recipe-card p {
    margin: 0 0.5rem 2rem; /* More whitespace around the text */
    color: #666;
    padding: 0 20px;
  }

.read-more-btn {
    display: block;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block; /* Adjust to inline-block for proper padding */
    margin-bottom: 1rem;
  }

.read-more-btn:hover {
    background-color: #555;
  }
    
@media (max-width: 768px) {
    .recipe-card {
      width: auto; /* Full width on small screens */
    }
}