article {
    max-width: 350px;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    min-height:450px;
}

.read-more-btn {
    display: block;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block; /* Adjust to inline-block for proper padding */
    margin-bottom: 1rem;
  }

.read-more-btn:hover {
    background-color: #555;
  }
    
@media (max-width: 768px) {
    .recipe-card {
      width: auto; /* Full width on small screens */
    }
}